@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/***Top***/
.top-section {
  background: #1F2937;
  margin: 0;
  padding: 8px 120px 140px 200px;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 32px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

/*Top container*/
.top-container {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.top-text {
  width: 450px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h1, button {
  color: #f9faf8;
}

p {
  margin-top: 0;
  color: #E5E7EB;
  font-size: 18px;
}

button {
  background: #3882F6;
  border-radius: 8px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 7px 32px;
  font-size: 18px;
}

.img-placeholder-1 {
  color: #E5E7EB;
  background: #6d727d;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-placeholder-1 p {
  margin: 0;
}
